/* font-family */
@font-face {
  font-family: "Migra-Medium";
  src: url("../fonts/Migra-Medium.woff2");
}

@font-face {
  font-family: "PPObjectSans-Medium";
  src: url("../fonts/PPObjectSans-Medium.woff2");
}

@font-face {
  font-family: "PPObjectSans-Heavy";
  src: url("../fonts/PPObjectSans-Heavy.woff2");
}

html {
  font-size: 10px;
  word-wrap: break-word;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "PPObjectSans-Heavy", sans-serif;
  margin: 0;
  font-size: 6.2rem;
  color: #543939;
  line-height: 5rem;
  letter-spacing: -1px;
}

h2 {
  font-family: "PPObjectSans-Heavy", sans-serif;
  font-size: 4.2rem;
  line-height: 4.4rem;
  margin: 0;
  color: #543939;
  padding-bottom: 1.5rem;
}

h4 {
  font-family: "PPObjectSans-medium", sans-serif;
  font-size: 1.4em;
  font-weight: 100;
  margin: 0;
  color: #543939;
  line-height: 16.8px;
  letter-spacing: 0;
}

p {
  font-family: "Migra-Medium", sans-serif;
  color: #543939;
  font-size: 1.6em;
  letter-spacing: 0.25px;
  line-height: 18px;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  width: 100%;
  height: 78px;
  z-index: 99;
  position: fixed;
  top: 0;
}

header .nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  transition: all 0.15s;
}

header .nav .menu {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
  padding: 0 0 0 30px;
}

header .nav .menu li {
  margin: 0;
  padding: 0 10px;
  font-size: 1.4rem;
  font-family: "PPObjectSans-Medium", sans-serif;
}

header .nav .menu li a {
  color: #ffffff;
}

header .nav .menu li a:hover {
  opacity: 0.6;
  transition: all 0.15s;
}

header .nav .main-logo {
  width: 20.3rem;
  height: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

header .nav a {
  color: #ffffff;
}

header .nav a h4 {
  border: 1px solid #ffffff;
  padding: 1.5rem;
  border-radius: 0.375rem;
  margin: 0 14px;
  color: #ffffff;
}

header .nav .nav-btn:hover {
  transition: all 0.15s linear;
  scale: 1.05;
}

/* 모바일 헤더 css */
.mo-header {
  display: none;
}

.mo-header .nav {
  padding: 0 15px;
  flex-direction: row-reverse;
}

.mo-header .nav span {
  cursor: pointer;
}

.mo-header .nav span i {
  font-size: 2.4rem;
}

/* 모바일 슬라이드 메뉴 */
.back-drop {
  width: 100%;
  background: #0000004f;
  backdrop-filter: blur(15px);
  position: absolute;
  z-index: 99;
  transition: transform 0.5s ease-in-out;
  /* transition: all 0.5s ease-in-out; */
}

.mo-nav {
  width: 100%;
  height: 100%;
  max-width: 480px;
  max-height: 100%;
  background: rgb(84 57 57);
  position: fixed;
  top: 0;
  z-index: 9999;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: transform 0.5s ease-in-out;
}

.mo-nav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mo-nav nav .sub-logo {
  width: 16rem;
  height: 2rem;
}

.mo-nav nav .sub-logo a {
  color: #ffffff;
}

.mo-nav nav i {
  font-size: 2.4rem;
  cursor: pointer;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

.slide-to-main {
  transform: translateX(0%) translateZ(0px);
}

.slide-to-side {
  transform: translateX(-100%) translateZ(0px);
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.mo-nav .mo-inner {
  padding: 30px 30px 0;
}

.mo-nav .mo-inner .mo-menu {
  width: 100%;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.mo-nav .mo-inner .mo-menu .main-menu {
  width: 100%;
  padding-right: 15px;
}

.mo-nav .mo-inner .mo-menu .main-menu li {
  height: 2.7rem;
}

.mo-nav .mo-inner .mo-menu .main-menu li h2 {
  color: #ffffff;
  padding: 0;
}

.mo-nav .mo-inner .mo-menu .sub-menu {
  width: 100%;
}

.mo-nav .mo-inner .mo-menu .sub-menu li {
  text-transform: uppercase;
}

.mo-nav .mo-inner .mo-menu .sub-menu li h4 {
  color: #ffffff;
}

.mo-nav .mo-inner .mo-image-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.mo-nav .mo-inner .mo-image-menu .menu-image {
  width: 50%;
  margin-bottom: 30px;
}

.mo-nav .mo-inner .mo-image-menu .menu-image:nth-child(odd) {
  padding: 0 15px 0 0;
}

.mo-nav .mo-inner .mo-image-menu .menu-image:nth-child(even) {
  padding: 0 0 0 15px;
}

.mo-nav .mo-inner .mo-image-menu .menu-image img {
  width: 100%;
}

.mo-nav .mo-inner .mo-image-menu .menu-image h4 {
  padding-top: 15px;
  color: #ffffff;
}

.mo-nav .mo-buy-btn {
  width: 100%;
  height: 100px;
  background: linear-gradient(0, #543939 80%, transparent 100%);
  position: sticky;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.mo-nav .mo-buy-btn:hover {
  transition: all 0.15s linear;
  scale: 1.05;
}

.mo-nav .mo-buy-btn .buy-btn h4 {
  border: 1px solid #ffffff;
  padding: 1.5rem;
  border-radius: 0.375rem;
  margin: 0 30px;
  color: #ffffff;
  text-align: center;
}

main {
  width: 100%;
}

/* 메인 섹션 */
#main-section {
  width: 100%;
  height: 100vh;
  padding: 30px 0px;
  position: relative;
  background-color: #5d9061;
  display: flex;
}

#main-section .main-text {
  width: 60%;
  background-color: #5d9061;
  position: relative;
  top: 0;
  left: 0;
  z-index: 9;
  padding-left: 30px;
}

#main-section .main-text .main-title {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.main-title.animated {
  transition: all 0.5s ease-in-out;
}

#main-section .main-text .main-title h1 {
  text-align: left;
}

#main-section .main-text .main-title .white-text {
  color: #ffffff;
}

#main-section .main-text .main-title .grey-text {
  color: #d5ccbe;
}

#main-section .main-text .main-more a p i {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 8px;
}

#main-section .main-text .main-more a p span {
  font-family: "PPObjectSans-medium", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  color: #ffffff;
  border-bottom: dashed 1px #ffffff;
  text-align: right;
}

#main-section .main-text .main-more a p span:hover {
  opacity: 0.6;
  transition: all 0.15s;
}

.slide-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slides {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

/* 바뀌는 과정이 보이도록 움직이게 하는 효과 */
.slides.animated {
  transition: 0.5s ease-out;
}

.slides li {
  width: 35vw;
  float: left;
  padding: 20px;
  height: 100%;
}

.slides li img {
  width: auto;
  height: 100%;
}

.slides li:not(:last-child) {
  margin-right: 25vw;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: pink;
  border-radius: 50%;
}

.pointer {
  width: 100px;
  height: 100px;
  background-color: green;
}

/* 섹션 1 */
#section1 {
  background-color: #f0e9df;
  padding: 30px 30px 100px 30px;
  display: flex;
}

#section1 .sec1-left {
  width: 60vw;
  margin-right: 140px;
  display: flex;
  flex-wrap: wrap;
}

#section1 .sec1-left-1 {
  margin-bottom: 170px;
}

#section1 .sec1-left-1 h2 {
  font-family: "PPObjectSans-Heavy", sans-serif;
  margin: 0;
  font-size: 4.2rem;
  color: #543939;
  line-height: 4.4rem;
}

#section1 .sec1-left-2 {
  display: flex;
  align-items: end;
}

#section1 .sec1-left-2 img {
  width: 21.7vw;
  max-width: 600px;
}

#section1 .sec1-left-2 .sec1-text {
  margin-left: 30px;
}

#section1 .sec1-left-2 h4 {
  margin: 0 0 14px 0;
}

#section1 .sec1-left-2 p {
  font-family: "Migra-Medium", sans-serif;
  color: #543939;
  font-size: 1.6rem;
  letter-spacing: 0.3px;
  margin: 0;
}

#section1 .sec1-right img {
  width: 30vw;
}

/* mobile section1 인 경우*/
#mo-section1 {
  display: none;
  background-color: #f0e9df;
  padding: 30px 30px 100px 30px;
}

#mo-section1 .mo-sec1-title {
  padding-bottom: 30px;
}

#mo-section1 .mo-sec1-img {
  padding: 30px 0px 30px 100px;
}

#mo-section1 .mo-sec1-bottom {
  width: 100%;
  display: flex;
}

#mo-section1 .mo-sec1-bottom img {
  padding-right: 30px;
  width: 50%;
}

#mo-section1 .mo-sec1-bottom .mo-sec1-text h4 {
  padding: 0 0 15px;
}

/* 섹션 2 */
#section2 {
  width: 100%;
  background-color: #f0e9df;
  padding: 30px 30px 100px 30px;
  box-sizing: border-box;
}

#section2 .sec2-title {
  width: 100%;
  display: flex;
}

#section2 .sec2-title1 {
  width: 60vw;
}

#section2 .sec2-title1 a p {
  margin-top: 20px;
}

#section2 .sec2-title1 a p i {
  color: #543939;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 8px;
}

#section2 .sec2-title1 a p span {
  font-family: "PPObjectSans-medium", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  color: #543939;
  border-bottom: dashed 1px #543939;
}

#section2 .sec2-title1 a p span:hover {
  opacity: 0.6;
  transition: all 0.15s;
}

#section2 .sec2-list {
  width: 100%;
}

#section2 .sec2-list .sec2-list-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#section2 .sec2-list .sec2-list-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#section2 .sec2-img {
  width: 31vw;
  margin: 15px 15px;
}

#section2 .sec2-img img {
  width: 100%;
}

#section2 .sec2-img .sec2-img-el {
  padding-bottom: 20px;
}

#section2 .sec2-img .sec2-img-el:hover img {
  filter: blur(5px);
  transition: all 0.15s linear;
}

#section2 .sec2-img .sec2-img-el:hover .hover-text {
  display: block;
  transition: all 0.15s;
}

#section2 .sec2-img h4 {
  text-align: center;
  margin-bottom: 8px;
}

#section2 .sec2-img P {
  text-align: center;
  color: #543939;
}

#section2 .sec2-img .sec2-img-el {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  position: relative;
}

#section2 .sec2-img .hover-text {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

/* 섹션3 */
#section3 {
  width: 100%;
  background-color: rgb(178 149 109);
  padding: 100px 30px;
  display: flex;
  box-sizing: border-box;
}

#section3 .sec3-title {
  width: 30vw;
  margin-right: 30px;
  /* display: flex;
  flex-wrap: wrap;
  align-content: center; */
}

#section3 .sec3-title h4 {
  text-align: left;
  color: #ffffff;
  padding-bottom: 20px;
}

#section3 .sec3-title h1 {
  color: #ffffff;
}

#section3 .sec3-img {
  width: 30vw;
}

#section3 .sec3-img img {
  width: 100%;
}

#section3 .sec3-content {
  width: 14vw;
  margin-top: 30px;
  margin-left: 30px;
}

#section3 .sec3-content .sec3-textarea {
  text-align: left;
  color: #ffffff;
}

#section3 .sec3-more {
  display: flex;
  align-items: end;
  margin-bottom: 30px;
}

#section3 .sec3-more a p i {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 8px;
}

#section3 .sec3-more a p span {
  font-family: "PPObjectSans-medium", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  color: #ffffff;
  border-bottom: dashed 1px #ffffff;
  text-align: right;
}

#section3 .sec3-more a p span:hover {
  opacity: 0.6;
  transition: all 0.15s;
}

/* 섹션4 */
#section4 {
  width: 100%;
  background-color: #f0e9df;
  padding: 100px 30px;
  box-sizing: border-box;
}

#section4 h4 {
  text-align: left;
  padding-bottom: 15px;
}

#section4 h1 .gold-text {
  color: rgb(178 149 109);
}

/* 섹션5 */
#section5 {
  width: 100%;
  background-color: #f0e9df;
  padding: 100px 30px;
  display: flex;
  box-sizing: border-box;
}

#section5 .sec5-text {
  width: 36vw;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

#section5 .sec5-text .sec5-text-top h4 {
  text-align: left;
  padding-bottom: 15px;
}

#section5 .sec5-text .sec5-text-top h2 {
  font-family: "PPObjectSans-Heavy", sans-serif;
  margin: 0;
  font-size: 4.2rem;
  color: #543939;
  line-height: 4.4rem;
  letter-spacing: -1px;
}

#section5 .sec5-text .sec5-text-bottom {
  width: 21vw;
}

#section5 .sec5-text .sec5-text-bottom h4 {
  text-align: left;
  padding-bottom: 15px;
}

#section5 .sec5-text .sec5-text-bottom p {
  font-family: "Migra-Medium", sans-serif;
  font-size: 1.6rem;
  text-align: left;
  color: #543939;
  font-weight: 100;
  padding-bottom: 20px;
  margin: 0;
}

#section5 .sec5-text .sec5-text-bottom a p i {
  color: #543939;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 8px;
}

#section5 .sec5-text .sec5-text-bottom a p span {
  font-family: "PPObjectSans-medium", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  color: #543939;
  border-bottom: dashed 1px #543939;
}
#section5 .sec5-text .sec5-text-bottom a p span:hover {
  opacity: 0.6;
  transition: all 0.15s;
}

#section5 .sec5-img {
  display: flex;
  align-items: baseline;
  width: 30vw;
}

#section5 .sec5-img img {
  margin: 10px;
}

#section5 .sec5-img #sec5-img1 {
  width: 22vw;
}

#section5 .sec5-img #sec5-img2 {
  width: 32vw;
}

/* mobile section5 인 경우*/
#mo-section5 {
  width: 100%;
  display: none;
  background-color: #f0e9df;
  padding: 100px 30px;
}

#mo-section5 .mo-sec5-top {
  padding-bottom: 30px;
}

#mo-section5 .mo-sec5-top h4 {
  padding-bottom: 15px;
}

#mo-section5 .mo-sec5-img {
  padding: 30px 0px 30px 100px;
}

#mo-section5 .mo-sec5-bottom {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

#mo-section5 .mo-sec5-bottom img {
  padding-right: 30px;
  width: 60%;
}

#mo-section5 .mo-sec5-bottom .mo-sec5-text h4 {
  padding-bottom: 15px;
}

#mo-section5 .mo-sec5-bottom .mo-sec5-text p {
  text-align: left;
}

#mo-section5 .mo-sec5-bottom .mo-sec5-text a {
  padding-top: 16px;
}

#mo-section5 .mo-sec5-bottom .mo-sec5-text a p {
  font-family: "PPObjectSans-medium", sans-serif;
  padding-top: 16px;
}

#mo-section5 .mo-sec5-bottom .mo-sec5-text a p i {
  color: #543939;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 8px;
}

#mo-section5 .mo-sec5-bottom .mo-sec5-text a p span {
  border-bottom: dashed 1px #543939;
}

/* 섹션6 */
#footer {
  width: 100%;
  height: 100vh;
  background-color: #543939;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footer .sec6-top {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
}

#footer .sec6-top ul {
  display: flex;
  padding: 0;
}

#footer .sec6-top ul li {
  margin: 0 6px;
}

#footer .sec6-top ul li h4 {
  text-align: center;
  color: #ffffff;
}

#footer .sec6-top ul li h4 a {
  color: #ffffff;
}

#footer .sec6-top ul li h4 a:hover {
  opacity: 0.6;
  transition: all 0.15s;
}

#footer .sec6-middle {
  width: 26vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 30px;
}

#footer .sec6-middle h4 {
  text-align: center;
  color: #ffffff;
  padding-bottom: 15px;
}

#footer .sec6-middle p {
  font-family: "Migra-Medium", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  font-weight: 100;
  padding-bottom: 20px;
  margin: 0;
}

#footer .sec6-input {
  display: inline-flex;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding-bottom: 6px;
  border-bottom: dashed 1px #ffffff;
  margin-bottom: 100px;
}

#footer .sec6-input input {
  background-color: transparent;
  border: 0;
  width: 23vw;
}

#footer .sec6-input button {
  font-family: "PPObjectSans-medium", sans-serif;
  background-color: transparent;
  border: 0;
  color: #ffffff;
  padding: 0 0 0 20px;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 100;
  margin: 0;
  cursor: pointer;
}

#footer .mo-footer-middle {
  display: none;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 9px;
  }

  h1 {
    font-family: Object Sans Heavy, times new roman;
    font-size: 3.8rem;
    letter-spacing: 1px;
    line-height: 34px;
    margin: 0;
    text-transform: uppercase;
  }

  h2 {
    font-size: 2.7rem;
    letter-spacing: -0.5px;
    line-height: 24px;
  }

  h4 {
    font-size: 1.4rem;
    line-height: 14px;
  }

  p {
    font-size: 1.4rem;
    line-height: 16px;
  }

  header.web-header {
    display: none;
  }

  header.mo-header {
    display: block;
  }

  #main-section {
    flex-direction: column-reverse;
  }

  #main-section .main-text {
    width: 100%;
    height: 30%;
    padding-right: 30px;
  }

  #main-section .main-text .main-title {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
  }
  #main-section .main-text .main-more {
    position: absolute;
    bottom: 0;
  }

  #main-section .main-text .main-title h1 {
    line-height: 3.8rem;
  }

  .slide-wrapper {
    width: 100%;
    height: 100%;
  }

  #section1 {
    display: none;
  }

  #section1 .sec1-left {
    padding-right: 30px;
    margin-right: 0;
  }

  #mo-section1 {
    display: block;
  }

  #section2 .sec2-title1 {
    width: 100%;
  }

  #section2 .sec2-title1 a p {
    padding-top: 16px;
  }

  #section2 .sec2-list .sec2-list-top {
    flex-direction: column;
    align-items: center;
  }

  #section2 .sec2-list .sec2-list-bottom {
    flex-direction: column;
    align-items: center;
  }

  #section2 .sec2-img {
    width: 100%;
  }

  /* top list 의 짝수요소*/
  #section2 .sec2-list-top .sec2-img:nth-child(even) {
    padding-left: 25%;
  }

  /* top list 의 홀수요소*/
  #section2 .sec2-list-top .sec2-img:nth-child(odd) {
    padding-right: 25%;
  }

  /* bottom list 의 짝수요소*/
  #section2 .sec2-list-bottom .sec2-img:nth-child(even) {
    padding-right: 25%;
  }
  /* bottom list 의 홀수요소*/
  #section2 .sec2-list-bottom .sec2-img:nth-child(odd) {
    padding-left: 25%;
  }

  #section2 .sec2-img .sec2-img-el:hover img {
    filter: blur(0px);
    transition: all 0.15s linear;
  }

  #section2 .sec2-img .sec2-img-el:hover .hover-text {
    display: none;
  }

  #section3 {
    padding: 60px 30px;
    flex-direction: column;
  }

  #section3 .sec3-title {
    width: 100%;
    margin-right: 0;
  }

  #section3 .sec3-title h1 {
    margin-bottom: 30px;
  }

  #section3 .sec3-img {
    width: 100%;
  }

  #section3 .sec3-content {
    width: 54%;
    margin-left: 0;
  }

  #section3 .sec3-more {
    width: 100%;
    justify-content: flex-end;
    padding-top: 16px;
  }

  #section4 {
    padding: 30px;
  }

  #section4 h1 {
    padding-top: 20px;
  }

  #section5 {
    display: none;
  }

  #mo-section5 {
    display: block;
  }

  #footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #footer .sec6-top {
    flex-direction: row;
    justify-content: center;
  }

  #footer .sec6-top ul {
    flex-direction: column;
  }

  #footer .web-footer-middle {
    display: none;
  }

  #footer .mo-footer-middle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #footer .sec6-middle {
    width: 100%;
    padding-bottom: 10px;
  }

  #footer .sec6-input {
    width: 100%;
    left: 0;
    transform: translate(0);
    justify-content: space-between;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 575px) {
  .slides li:not(:last-child) {
    margin-right: 14vw;
  }

  .slides li {
    width: 60vw;
  }
}
