/* font-family */
@font-face {
  font-family: "Migra-Medium";
  src: url("../fonts/Migra-Medium.woff2");
}

@font-face {
  font-family: "PPObjectSans-Medium";
  src: url("../fonts/PPObjectSans-Medium.woff2");
}

@font-face {
  font-family: "PPObjectSans-Heavy";
  src: url("../fonts/PPObjectSans-Heavy.woff2");
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#tooltip .circle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px #ffffff dashed;
  transform: translate(-50%, -50%);
  transition: all 0.01s linear;
  cursor: default;
}

#tooltip .circle h4 {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 100;
  font-family: "PPObjectSans-Medium", sans-serif;
}
header {
  width: 100%;
  height: 78px;
  z-index: 9999;
  position: fixed;
  top: 0;
}

header .nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  /* backdrop-filter: blur(25px);
  background-color: rgba(84, 57, 57, 0.25); */
  transition: all 0.15s;
}

header .nav .menu {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
  padding: 0 0 0 30px;
}

header .nav .menu li {
  margin: 0;
  padding: 0 10px;
  font-size: 1.4rem;
  font-family: "PPObjectSans-Medium", sans-serif;
}

header .nav .menu li a {
  color: #ffffff;
}

header .nav .menu li a:hover {
  opacity: 0.6;
  transition: all 0.15s;
}

header .nav .main-logo {
  width: 20.3rem;
  height: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

header .nav a {
  color: #ffffff;
}

header .nav a h4 {
  font-size: 1.4rem;
  font-family: "PPObjectSans-Medium", sans-serif;
  font-weight: 100;
  margin: 0;
  border: 1px solid #ffffff;
  padding: 1.5rem;
  border-radius: 0.375rem;
  margin: 0 14px;
}

header .nav .nav-btn:hover {
  transition: all 0.15s linear;
  scale: 1.05;
}

main {
  width: 100%;
}

/* 메인 섹션 */
#main-section {
  width: 100%;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  background-color: #5d9061;
  box-sizing: border-box;
}

#main-section .main-text {
  width: 32vw;
  height: 100vh;
  background-color: #445c46;
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 9;
}

#main-section .main-text h1 {
  font-family: "PPObjectSans-Heavy", sans-serif;
  font-size: 6.2rem;
  color: #ffffff;
  line-height: 5rem;
  text-align: left;
  margin: 0;
  letter-spacing: -1px;
}

#main-section .main-text h1 .grey-text {
  color: #d5ccbe;
}

#main-section #main-slide {
  width: max-content;
  height: 100vh;
  /* background-color: rgb(3, 0, 205); */
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  /* overflow-x: hidden; */
}

#main-section #main-slide img {
  width: 27vw;
  margin: 0 300px 0 0;
}

#main-section h1 {
  font-size: 6.2rem;
  color: #ffffff;
  text-align: center;
}

.original {
  background-color: #5d9061;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.pink {
  background-color: pink;
}
/* 섹션 1 */
#section1 {
  background-color: #f0e9df;
  padding: 30px 30px 100px 30px;
  display: flex;
}

#section1 .sec1-left {
  width: 60vw;
  margin-right: 140px;
  display: flex;
  flex-wrap: wrap;
}

#section1 .sec1-left-1 {
  margin-bottom: 170px;
}

#section1 .sec1-left-1 h2 {
  font-family: "PPObjectSans-Heavy", sans-serif;
  margin: 0;
  font-size: 4.2rem;
  color: #543939;
  line-height: 4.4rem;
}

#section1 .sec1-left-2 {
  display: flex;
  align-items: end;
}

#section1 .sec1-left-2 img {
  width: 21.7vw;
  max-width: 600px;
}

#section1 .sec1-left-2 .sec1-text {
  margin-left: 30px;
}

#section1 .sec1-left-2 h4 {
  font-family: "PPObjectSans-medium", sans-serif;
  color: #543939;
  font-size: 1.4rem;
  margin: 0 0 14px 0;
  font-weight: 100;
}

#section1 .sec1-left-2 p {
  font-family: "Migra-Medium", sans-serif;
  color: #543939;
  font-size: 1.6rem;
  letter-spacing: 0.3px;
  margin: 0;
}

#section1 .sec1-right img {
  width: 30vw;
}

/* 섹션 2 */
#section2 {
  width: 100%;
  background-color: #f0e9df;
  padding: 30px 30px 100px 30px;
  box-sizing: border-box;
}

#section2 .sec2-title {
  width: 100%;
  display: flex;
}

#section2 .sec2-title1 {
  width: 60vw;
}

#section2 .sec2-title2 {
  /* width: 115vw; */
}

#section2 .sec2-title1 h1 {
  font-family: "PPObjectSans-Heavy", sans-serif;
  margin: 0;
  font-size: 6.2rem;
  color: #543939;
  line-height: 5rem;
  letter-spacing: -1px;
}

#section2 .sec2-title1 a p i {
  color: #543939;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 8px;
}

#section2 .sec2-title1 a p span {
  font-family: "PPObjectSans-medium", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  color: #543939;
  border-bottom: dashed 1px #543939;
}

#section2 .sec2-title1 a p span:hover {
  opacity: 0.6;
  transition: all 0.15s;
}

#section2 .sec2-list {
  width: 100%;
}

#section2 .sec2-list .list-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* background-color: green; */
}

#section2 .sec2-list .list-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* background-color: blue; */
}

#section2 .sec2-img {
  width: 31vw;
  margin: 15px 15px;
}

#section2 .sec2-img img {
  width: 100%;
}

#section2 .sec2-img .sec2-img-el:hover img {
  filter: blur(5px);
  transition: all 0.15s linear;
}

#section2 .sec2-img .sec2-img-el:hover .hover-text {
  display: block;
  transition: all 0.15s;
}

#section2 .sec2-img h4 {
  font-family: "PPObjectSans-medium", sans-serif;
  font-size: 1.4rem;
  text-align: center;
  color: #543939;
  font-weight: 100;
  margin-bottom: 8px;
}

#section2 .sec2-img P {
  font-family: "Migra-Medium", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  color: #543939;
  font-weight: 100;
  margin: 0;
}

#section2 .sec2-img .sec2-img-el {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  position: relative;
}

#section2 .sec2-img .hover-text {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

/* 섹션3 */
#section3 {
  width: 100%;
  background-color: rgb(178 149 109);
  padding: 100px 30px;
  display: flex;
  box-sizing: border-box;
}

#section3 .sec3-title {
  width: 30vw;
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#section3 .sec3-title h4 {
  font-family: "PPObjectSans-medium", sans-serif;
  font-size: 1.4rem;
  text-align: left;
  color: #ffffff;
  font-weight: 100;
  padding-bottom: 20px;
  margin: 0;
}

#section3 .sec3-title h1 {
  font-family: "PPObjectSans-Heavy", sans-serif;
  margin: 0;
  font-size: 6.2rem;
  color: #ffffff;
  line-height: 5rem;
  letter-spacing: -1px;
}

#section3 .sec3-img {
  width: 30vw;
}

#section3 .sec3-img img {
  width: 100%;
}

#section3 .sec3-content {
  width: 14vw;
  margin-top: 30px;
  margin-left: 30px;
}

#section3 .sec3-content .sec3-textarea {
  font-family: "Migra-Medium", sans-serif;
  font-size: 1.6rem;
  text-align: left;
  color: #ffffff;
  font-weight: 100;
  margin: 0;
}

#section3 .sec3-more {
  display: flex;
  align-items: end;
  margin-bottom: 30px;
}

#section3 .sec3-more a p i {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 8px;
}

#section3 .sec3-more a p span {
  font-family: "PPObjectSans-medium", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  color: #ffffff;
  border-bottom: dashed 1px #ffffff;
  text-align: right;
}

#section3 .sec3-more a p span:hover {
  opacity: 0.6;
  transition: all 0.15s;
}

/* 섹션4 */
#section4 {
  width: 100%;
  background-color: #f0e9df;
  padding: 100px 30px;
  box-sizing: border-box;
}

#section4 h4 {
  font-family: "PPObjectSans-medium", sans-serif;
  font-size: 1.4rem;
  text-align: left;
  color: #543939;
  font-weight: 100;
  padding-bottom: 15px;
  margin: 0;
}

#section4 h1 {
  font-family: "PPObjectSans-Heavy", sans-serif;
  margin: 0;
  font-size: 6.2rem;
  color: #543939;
  line-height: 5rem;
  letter-spacing: -1px;
}

#section4 h1 .gold-text {
  color: rgb(178 149 109);
}

/* 섹션5 */
#section5 {
  width: 100%;
  background-color: #f0e9df;
  padding: 100px 30px;
  display: flex;
  box-sizing: border-box;
}

#section5 .sec5-text {
  width: 36vw;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

#section5 .sec5-text .sec5-text-top h4 {
  font-family: "PPObjectSans-medium", sans-serif;
  font-size: 1.4rem;
  text-align: left;
  color: #543939;
  font-weight: 100;
  padding-bottom: 15px;
  margin: 0;
}

#section5 .sec5-text .sec5-text-top h2 {
  font-family: "PPObjectSans-Heavy", sans-serif;
  margin: 0;
  font-size: 4.2rem;
  color: #543939;
  line-height: 4.4rem;
  letter-spacing: -1px;
}

#section5 .sec5-text .sec5-text-bottom {
  width: 21vw;
}

#section5 .sec5-text .sec5-text-bottom h4 {
  font-family: "PPObjectSans-medium", sans-serif;
  font-size: 1.4rem;
  text-align: left;
  color: #543939;
  font-weight: 100;
  padding-bottom: 15px;
  margin: 0;
}

#section5 .sec5-text .sec5-text-bottom p {
  font-family: "Migra-Medium", sans-serif;
  font-size: 1.6rem;
  text-align: left;
  color: #543939;
  font-weight: 100;
  padding-bottom: 20px;
  margin: 0;
}

#section5 .sec5-text .sec5-text-bottom a p i {
  color: #543939;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 8px;
}

#section5 .sec5-text .sec5-text-bottom a p span {
  font-family: "PPObjectSans-medium", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  color: #543939;
  border-bottom: dashed 1px #543939;
}
#section5 .sec5-text .sec5-text-bottom a p span:hover {
  opacity: 0.6;
  transition: all 0.15s;
}

#section5 .sec5-img {
  display: flex;
  align-items: baseline;
  width: 30vw;
}

#section5 .sec5-img img {
  margin: 10px;
}

#section5 .sec5-img #sec5-img1 {
  width: 22vw;
}

#section5 .sec5-img #sec5-img2 {
  width: 32vw;
}

/* 섹션6 */
#footer {
  width: 100%;
  background-color: #543939;
  padding: 30px;
  box-sizing: border-box;
}

#footer .sec6-top {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
}

#footer .sec6-top ul {
  display: flex;
  padding: 0;
}

#footer .sec6-top ul li {
  margin: 0 6px;
}

#footer .sec6-top ul li h4 {
  font-family: "PPObjectSans-medium", sans-serif;
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
  font-weight: 100;
  margin: 0;
}

#footer .sec6-top ul li h4 a {
  color: #ffffff;
}

#footer .sec6-top ul li h4 a:hover {
  opacity: 0.6;
  transition: all 0.15s;
}

#footer .sec6-middle {
  width: 26vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 30px;
}

#footer .sec6-middle h4 {
  font-family: "PPObjectSans-medium", sans-serif;
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
  font-weight: 100;
  padding-bottom: 15px;
  margin: 0;
}

#footer .sec6-middle p {
  font-family: "Migra-Medium", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  font-weight: 100;
  padding-bottom: 20px;
  margin: 0;
}

#footer .sec6-input {
  display: inline-flex;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding-bottom: 6px;
  border-bottom: dashed 1px #ffffff;
  margin-bottom: 100px;
}

#footer .sec6-input input {
  background-color: transparent;
  border: 0;
  width: 23vw;
}

#footer .sec6-input button {
  font-family: "PPObjectSans-medium", sans-serif;
  background-color: transparent;
  border: 0;
  color: #ffffff;
  padding: 0 0 0 20px;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 100;
  margin: 0;
  cursor: pointer;
}
